{% extends "navbar_nonMember.html" %}
    {% block content %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

    <body>
        <h1>Login</h1>

        <div class="form">
            <form action="" method="post" name="login">
                {{ form.hidden_tag() }}
                <p>Firstname<br>{{ form.fname(class='form-control') }}<br></p>
                    {% for error in form.fname.errors %}
                        [{{ error }}]
                    {% endfor %}
                <p>Last Name<br>{{ form.lname(class='form-control') }}<br></p>
                    {% for error in form.lname.errors %}
                        [{{ error }}]
                    {% endfor %}
                <p>Email<br>{{ form.email(class='form-control') }}<br></p>
                    {% for error in form.email.errors %}
                        [{{ error }}]
                    {% endfor %}
                <p>New Password<br>{{ form.password_hash(class='form-control') }}<br></p>
                    {% for error in form.password_hash.errors %}
                        [{{ error }}]
                    {% endfor %}
                <p>Confirm New Password<br>{{ form.conf_password_hash(class='form-control') }}<br></p>
                    {% for error in form.password_hash.errors %}
                        [{{ error }}]
                    {% endfor %}	
				
                <p><input type="Submit" value="Reset"></p>
            </form>
        </div>
    </body>
{% endblock %}